.work-wrapper {
  color: white;
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  box-shadow: 5px 2px 2px black;
  padding: 2rem;
  h1 {
    font-size: 3rem;
    line-height: 20px;
  }
  .grid {
    display: grid;
    width: 80vw;
    margin: 2rem;
    margin-top: 20px;

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }
  }
}
